<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome !</h1>
    <p>Would you like to:</p>
    <a href="events">Create an event</a><p> or </p><a href="tickets">Order a ticket</a>
</body>
</html>